<center><h1><b>IMS </b></h1>
  <h3> <marquee>INTERVIEW MANAGEMENT SYSTEM</marquee></h3>
  <ul class="the_menu">
<%=  link_to image_tag("job.png")  ,new_interview_path %>
    <br></br><br></br><br></br><br></br>
    <table id="customers">
      <tr>
      <td>
      <li><%= link_to 'Click To Generate Details of New Candidates', new_interview_path %></li>
    </td></tr><tr>
      <td>
      <li><%= link_to 'Import Candidates Details via CSV File', :controller => 'import_candidates'%></li>
      </td></tr><tr>
      <td>
      <li><a href="interviews ">Click To View All Interview Details</a></li>
      </td>
    </tr>
    </table>

    